<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>編集</h2>
        </div>
    </div>
    <%= form_tag("/lists/#{@list.id}/update") do%>
        <div class="col-md-8 order-md-1 container">
            <div class="mb-3">
                <div class="input-group">
                    <textarea type="text" class="form-control" name="content"><%= @list.content %></textarea>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">更新する</button>
        </div>
    <% end %>
    <div class="py-5 text-center">
        <%= link_to("一覧に戻る", "/lists/index") %>
    </div>
</body>