<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>ユーザー情報の変更</h2>
        </div>
    </div>

    <%= form_tag("/users/#{@user.id}/update", {multipart: true}) do %>
        <div class="col-md-8 order-md-1 container">
            <div class="mb-3">
                <label for="username">ユーザー名</label>
                <div class="input-group">
                    <input class="form-control" placeholder="Username" name="name" value="<%= @user.name %>">
                </div>
            </div>

            <div class="mb-3">
                <label for="img">プロフィール画像</label>
                <div class="input-group">
                    <input class="form-control" id="img" placeholder="img" name="image" type="file">
                </div>
            </div>

            <div class="mb-3">
                <label for="email">メールアドレス</label>
                <div class="input-group">
                    <input class="form-control" placeholder="you@example.com" name="email" value="<%= @user.email %>">
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">変更する</button>
        </div>
    <% end %>
    <div class="py-5 text-center">
        <%= link_to("ユーザー詳細に戻る", "/users/#{@user.id}") %>
    </div>
</body>