<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>USERS</h2>
        </div>
    </div>
    <% @users.each do |user| %>
        <div class="my-3 p-3 bg-white rounded shadow-sm container">
            <div class="media text-muted pt-3">
                <div class="mr-2 rounded col-md-1">
                    <img class="img-responsive img-circle reviews" src="<%= "/user_images/#{user.image_name}" %>">
                </div>
                <div class="d-flex justify-content-between align-items-center w-100">
                    <%= link_to(user.name, "/users/#{user.id}") %>
    
                </div>
            </div>
        </div>
    <% end %>
</body>
