<div class="container">
    <h1>新規ユーザー登録</h1>
    <%= form_tag("/users/create") do %>
        <p>ユーザー名</p>
        <input name="name" value="<%= @user.name %>" required>
        <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>" required>
        <p>パスワード</p>
        <input type="password" name="password" ,value="<%= @user.password %>" required>
        <input type="submit" value="新規登録" class="btn new-user">
    <% end %>
</div>