<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>新規ユーザー登録</h2>
        </div>
    </div>
    
    <%= form_tag("/users/create") do %>
        <div class="col-md-8 order-md-1 container">

            <div class="mb-3">
                <label for="username">ユーザー名</label>
                <div class="input-group">
                    <input class="form-control" placeholder="Username" name="name" value="<%= @user.name %>">
                </div>
            </div>

            <div class="mb-3">
                <label for="email">メールアドレス</label>
                <div class="input-group">
                    <input class="form-control" name="email" placeholder="you@example.com" value="<%= @user.email %>">
                </div>
            </div>

            <div class="mb-3">
                <label for="password">パスワード</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" value="<%= @user.password %>">
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">新規登録</button>
        </div>
    <% end %>
</body>