<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>ABOUT</h2>
            <%= link_to("Top Page", "/") %>
        </div>
    </div>
</body>