<body class="text-center">
    <main role="main" class="inner cover">
        <div class="container">
            <div class="py-5 text-center">
                <h2>TopPage</h2>
            </div>
        </div>

        <p class="lead">
            <%= link_to("ログイン", "/login") %>
            <%= link_to("新規ユーザー登録", "/signup") %>
            <%= link_to("このサイトについて", "/about") %>
        </p>
    </main>
</body>