<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>レポート編集</h2>
        </div>
    </div>
    <%= form_tag("/reports/#{@report.id}/update") do %>
        <div class="col-md-8 order-md-1 container">
            <div class="mb-3">
                <label for="title">タイトル</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="title" value="<%= @report.title%>">
                </div>
            </div>
            <div class="mb-3">
                <label for="content">内容</label>
                <div class="input-group">
                    <textarea type="text" class="form-control" name="content"><%= @report.content %></textarea>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">変更する</button>
        </div>
    <% end %>
</body>