
<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Report</h2>
        </div>
    </div>
    <div class="col-md-3 order-md-1 container">
        <%= link_to("新規投稿", "/reports/new", {class: "btn btn-primary btn-lg btn-block"}) %>
    </div>
    <% @reports.each do |report| %>
        <div class="my-3 p-2 bg-white rounded border border-secondary container">
            <div class="text-muted">
                <div class="justify-content-between align-items-center w-100">
                    <span class="d-block">投稿者：<%= report.user.name %></span>
                    <%= link_to(report.title, "/reports/#{report.id}", {class: "text-gray-dark h5 report-title"}) %>
                </div>
                <div class="text-right">
                    <span class="d-block"><%= report.updated_at.to_s(:datetime_jp)%></span>
                    <% if Check.find_by(user_id: @current_user.id, report_id: report.id) %>
                        <span class="d-block">確認済み</span>
                    <% else %>       
                        <span class="d-block">確認未</span>       
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</body>