<div class="container">
    <h1>レポート一覧</h1>
    <%= link_to("新規投稿", "/reports/new") %>
    <% @reports.each do |report| %>
        <p>投稿者：<%= report.user.name %></p>
        <p>タイトル</p>
        <%= link_to(report.title, "/reports/#{report.id}") %>

        <% if Check.find_by(user_id: @current_user.id, report_id: report.id) %>
            <p>確認済み</p>
        <% else %>       
            <p>確認未</p>       
        <% end %>
    <% end %>
</div>