<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>新規レポート作成</h2>
        </div>
    </div>
    <%= form_tag("/reports/create") do %>
        <div class="col-md-8 order-md-1 container">

            <div class="mb-3">
                <label for="title">タイトル</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title" name="title" value="<%= @report.title%>">
                </div>
            </div>

            <div class="mb-3">
                <label for="content">内容</label>
                <div class="input-group">
                    <textarea type="text" class="form-control" placeholder="Content" name="content"><%= @report.content %></textarea>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">投稿する</button>
        </div>
    <% end %>
    <div class="py-5 text-center">
        <%= link_to("一覧に戻る", "/reports/index") %>
    </div>
</body>